body {
    margin: 0;
    padding: 0;
    font-family: "TimesNewRoman", serif;
    background-image: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

.header,
.footer {
    padding: 10px;
    background: rgb(251, 248, 84);

}

.footer {
    clear: both;
    font-style: italic;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 0;
        text-align: center;

}

.header {
    height: 70px;
}

.content-container {
    height: 500px;
}

.sidebar {
    position: fixed;
    top: 90px;
    right: 0;
    float: right;
    width: 170px;
    height: 100%;
    padding: 10px;
    margin-top: 0px;
    color: white;
    background: rgb(251, 248, 84);
}

.sidebar ul {
    margin: 0 auto;
    padding: 30px 0 0 0;
    text-align: center;
    width: 100%;
}

.sidebar ul li {
    list-style-type: none;
    margin-bottom: 5px;
}

.sidebar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.sidebar ul li a:hover {
    color: rgb(255, 17, 207);
}

.content {
    height: 100%;
    margin-right: 190px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    text-shadow: rgb(255, 254, 254) 0 0 3px;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.menu > ul {
    margin: 0 auto;
    padding: 2px 0 0 0;
    border-top: 1px dotted rgb(0, 0, 0);
    border-bottom: 1px dotted rgb(0, 0, 0);
    text-align: center;
    width: 100%;
}

.menu {
    margin: 15px 0px;
    float: right;
}

.menu > ul > li {
    list-style-type: none;
    margin: 0;
    padding: 3px 0;
    display: inline;
}

.menu > ul > li > a {
    padding: 0 20px;
    line-height: 40px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.menu > ul > li > a:hover {
    color: rgb(255, 17, 207);
}

.li-with-bakery {
    color: rgb(251, 248, 84);
}
#Production {
    color: rgb(251, 248, 84);
    margin-left: 244px;
    top: 50px;
    position: absolute;
}

.menu-bakery {
    background: rgba(251, 237, 237, 0.5);
    padding: 0 18px;
    margin-left: 470px;
    top: 60px;
    position: absolute;
    border: 1px dotted rgb(0, 0, 0);
    border-top: none;
}

.horizontal-menu {
    float: right;
    color: rgb(255, 17, 207);
}

.menu-bakery li {
    display: block;
    padding: 5px 0px;
}

.menu-bakery li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.menu-bakery li a:hover {
    color: rgb(255, 17, 207);
}

.logo {
    float: left;
    min-width: 300px;
}

.logo h2 {
    font-family: "Dancing Script", cursive;
    margin-left: 80px;
    font-size: 28px;
    color: rgb(0, 0, 0);
}

img {
    width: 70px;
    float: left;
}

.AboutUS {
    font-style: italic;
    text-shadow: rgb(255, 255, 255) 0 0 3px;
    margin-top: 240px;
}

.content .menu {
}

.content .menu img {
    width: 210px;
    height: 240px;
    margin-left: 13px;
}

.products {
    height: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.products ul li {
    list-style-type: none;
}

.products ul li img {
    width: 150px;
    height: 160px;
}

.products ul li h3 {
    font-style: italic;
    color: rgb(3, 3, 3);
    text-shadow: rgb(255, 255, 255) 0 0 3px;
}

.products ul li p {
    margin-left: 180px;
    margin-right: 270px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 0 0 3px;
}

.lab {
    text-align: center;
    text-shadow: rgb(255, 255, 255) 0 0 3px;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: 28px;
    padding-top: 100px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 10;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ff88ed;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 300px;
    height: auto;
}

.close {
    color: #000000;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
h2,
p {
    text-align: center;
}

#order-form {
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form {
    margin: 0 auto;
    width: 50%;
}

input[type="password"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #000000;
    color: black;
    padding: 14px 20px;
    margin: 8px auto;
    display: block;
    border: none;
    cursor: pointer;
    width: 50%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 100px;
}

#register-btn,
#login-btn {
    float: right;
    margin-right: 10%;
    color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    margin: 50px auto;
    width: 50%;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #000000;
    color: black;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

#login-message {
    margin-top: 20px;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    margin: 0 0 0 -30px;
    left: 0;
    border: dashed gray;
    border-top: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background: rgb(248, 245, 110);
}

.dropdown:hover .dropdown-content {
    display: block;

}


